.Rproj.user
.Rhistory
.RData
.Ruserdata
EAS_bird.Rproj
00_additional data
01_models
02_output
data/data_full
EAS_bird_fullmodel.R
EAS_bird_OE20.R
EAS_bird_OE30.R
EAS_bird_oKart.R
model_selection.Rmd
model_selection.html
model_selection_all16models.html
test_index.R
test_spatialbias.Rmd
test_spatialbias_different - no trend.csv
test_weights.csv
test_weights.Rmd
test_weights.html
test_weights_identical - no trend.csv
.gitignore
